body {
  margin: 0;
  height: 100vh;
  font-family: "DotGothic16", sans-serif;
  background: linear-gradient(180deg, #d7dee1 0%, #b6c4c9 100%);
  position: relative;
  overflow: hidden;
}


body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.4;
  pointer-events: none;
}

.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  position: relative;
}

.top_notch_container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 36px;
  background: #fff;
  backdrop-filter: blur(10px);
  border-radius: 80px;
  border: 8px solid rgba(255, 255, 255, 0.4);
  padding: 0 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.top_notch_container img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.notch_center p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #222;
}
